.editor-myEditor{
    position: relative;
    border: 1px solid #ccc;
}
.editor-toolbar{
    height: 30px;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}
.editor-area{
    max-height: 150px;
    min-height: 100px;
    padding: 10px;
    overflow-y: auto;
    outline: none;
}
/*toolbar*/
.bar-item{
    display: inline-block;
    vertical-align: middle;
    cursor: default;
}
.font-item{
    line-height: 22px;
    width: 22px;
    text-align: center;
    border: 1px solid #efefef;
    font-size: 13px;
    margin-top: 4px;
    color: #000;
    text-decoration: none;
}
.font-item:hover{
    background: #FFF5D4;
    border: 1px solid #DCAC6C;
}
.font-bold{
    font-style: bold;
    margin-left: 5px;
}
.font-italic{
    font-style: italic;
}
.font-underline{
    text-decoration: underline;
}
.img-emoji{
    height: 22px;
    background: url(../imgs/emojiico.png) no-repeat center center;
    background-size: 16px 16px;
}
.font-item.img-emoji:hover{
    background: #FFF5D4 url(../imgs/emojiico.png) no-repeat center center;
    background-size: 16px 16px;
    border: 1px solid #DCAC6C;
}
.emoji-con{
    position: relative;
}
.emoji-content{
    position: absolute;
    left: 0;
    width: 344px;
    padding: 3px 1px;
    bottom: 28px;
    border: 1px solid #ccc;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
}
.emoji-content.open{
    visibility: visible;
    opacity: 1;
}
.emoji-content:after{
    display: inline-block;
    content: '';
    clear: both;
    zoom: 1;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
}
.emoji-item{
    float: left;
    position: relative;
    margin: 4px;
    width: 35px;
    height: 35px;
    background: url(../imgs/yface.gif) no-repeat;
}
.emoji-item:hover{
    background: #FFF5D4 url(../imgs/yface.gif) no-repeat;
    outline: 1px solid #DCAC6C;
}
/*/快捷表情*/
.emoji-shotcon{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; 
    visibility: hidden;  
    transition: opacity 0.3s ease-in;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #efefef;
}
.emoji-shotcon.open{
    opacity: 1; 
    visibility: visible;  
}
.shotEmoji-item{
    background: url(../imgs/yface.gif) no-repeat;
    display: block;
    cursor: default;
    color: #000;
    padding-left: 40px;
    min-width: 80px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
}
.shotEmoji-item:hover{
    background: #ddd url(../imgs/yface.gif) no-repeat;
}