body{
    margin: 0; padding: 0;width: 100%; height: 100%; perspective:1600px;
    transition: background 0.5s ease-in-out;
    background: radial-gradient(#3B3B3C 5%, #1C1C1D 50%, #1B1B1C 51%, #1B1B1C 100%);  
    background: -webkit-radial-gradient(#3B3B3C 5%, #1C1C1D 50%, #1B1B1C 51%, #1B1B1C 100%);
    overflow: hidden;
    /*background: url(../images/animal.jpg) no-repeat left top;
    background-size: 720px 510px;*/
}
body.init{
        
}
body.goose{
    background: radial-gradient(#F9B29C 5%, #F69273 50%,  #F68F6F 100%);    
    background: -webkit-radial-gradient(#F9B29C 5%, #F69273 50%,  #F68F6F 100%);    
}
.goose .next:after, .goose .prev:after, .goose .home:after{
    background: #F68F6F;
}
body.hummer{
    background: radial-gradient(#F2CB78 5%, #EDBA4A 50%, #EDB948 100%);  
    background: -webkit-radial-gradient(#F2CB78 5%, #EDBA4A 50%,  #EDB948 100%);    
}
.hummer .next:after, .hummer .prev:after, .hummer .home:after{
    background: #EDB948;
}
body.bird{
    background: radial-gradient(#B1A5EF 5%, #9B8BEB 50%,  #9787EA 100%);   
    background: -webkit-radial-gradient(#B1A5EF 5%, #9B8BEB 50%,  #9787EA 100%);    
}
.bird .next:after, .bird .prev:after, .bird .home:after{
    background: #9787EA;
}
body.elephant{
    background: radial-gradient(#8CD4C1 5%, #6CC8B0 50%, #63C5AB 100%);   
    background: -webkit-radial-gradient(#8CD4C1 5%, #6CC8B0 50%, #63C5AB 100%);    
}
.elephant .next:after, .elephant .prev:after, .elephant .home:after{
    background: #63C5AB;
}
.hide{
    display: none;
}
.animals-container{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
}
.loading .animals-container{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
}
.wrap .animals-container, .words .animals-container{
    width: 80%;
    min-width: 1200px;
    height: 100%;
}
.animals,.shape-con{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.shape{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
    background: transparent;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%);
}

.elephant .shape-con:nth-child(1) .shape{
    background: #999;
    clip-path: polygon(10% 55%, 15% 30%, 15% 38%);
}
.elephant .shape-con:nth-child(2) .shape{
    background: #ccc;
    clip-path: polygon(15% 28%, 15% 50%, 28% 54%);
}
.elephant .shape-con:nth-child(3) .shape{
    background: #bbb;
    clip-path: polygon(15% 28%, 18% 25%, 28% 54%);
}
.elephant .shape-con:nth-child(4) .shape{
    background: #aaa;
    clip-path: polygon(18% 25%, 22% 24.5%, 28% 54%);
}
.elephant .shape-con:nth-child(5) .shape{
    background: #ddd;
    clip-path: polygon(15% 50%, 24% 55.5%, 28% 54%);
}
.elephant .shape-con:nth-child(6) .shape{
    background: #ccc;
    clip-path: polygon(15% 50%, 24% 55.5%, 23% 80%);
}
.elephant .shape-con:nth-child(7) .shape{
    background: #999;
    clip-path: polygon(15% 50%, 18.5% 63%, 18% 80%);
}
.elephant .shape-con:nth-child(8) .shape{
    background: #ddd;
    clip-path: polygon(18% 82%, 18.4% 63%, 23% 80%);
}
.elephant .shape-con:nth-child(9) .shape{
    background: #999;
    clip-path: polygon(18% 82%, 24.4% 82%, 23% 80%);
}
.elephant .shape-con:nth-child(10) .shape{
    background: #ccc;
    clip-path: polygon(35% 24.5%, 22% 24.5%, 28% 54%);
}
.elephant .shape-con:nth-child(11) .shape{
    background: #ccc;
    clip-path: polygon(50% 44%, 35% 24.5%, 28% 54%);
}
.elephant .shape-con:nth-child(12) .shape{
    background: #bbb;
    clip-path: polygon(50% 44%, 46% 58%, 28% 54%);
}
.elephant .shape-con:nth-child(13) .shape{
    background: #ccc;
    clip-path: polygon(50% 44%, 46% 58%, 54% 80%);
}
.elephant .shape-con:nth-child(14) .shape{
    background: #bbb;
    clip-path: polygon(50% 82%, 46% 58%, 54% 80%);
}
.elephant .shape-con:nth-child(15) .shape{
    background: #999;
    clip-path: polygon(50% 82%, 56% 82%, 54% 80%);
}
.elephant .shape-con:nth-child(16) .shape{
    background: #bbb;
    clip-path: polygon(35% 24.5%, 50% 44%, 66% 21.5%);
}
.elephant .shape-con:nth-child(17) .shape{
    background: #aaa;
    clip-path: polygon(60% 46%, 50% 44%, 56% 34%);
}
.elephant .shape-con:nth-child(18) .shape{
    background: #bbb;
    clip-path: polygon(60% 46%, 50% 44%, 51.5% 60%);
}
.elephant .shape-con:nth-child(19) .shape{
    background: #aaa;
    clip-path: polygon(55% 54%, 52.5% 67%, 51.5% 60%);
}
.elephant .shape-con:nth-child(20) .shape{
    background: #ccc;
    clip-path: polygon(60% 46%, 66% 21.5%, 56% 34%);
}
.elephant .shape-con:nth-child(21) .shape{
    background: #ccc;
    clip-path: polygon(60% 46%, 66% 21.5%, 64% 42%);
}
.elephant .shape-con:nth-child(22) .shape{
    background: #ddd;
    clip-path: polygon(75% 30%, 66% 21.5%, 64% 42%);
}
.elephant .shape-con:nth-child(23) .shape{
    background: #eee;
    clip-path: polygon(75% 30%, 76% 41%, 64% 42%);
}
.elephant .shape-con:nth-child(24) .shape{
    background: #ccc;
    clip-path: polygon(71% 45%, 76% 41%, 64% 42%);
}
.elephant .shape-con:nth-child(25) .shape{
    background: #BF6F34;
    clip-path: polygon(64% 42%, 64% 40%, 73% 47%);
}
.elephant .shape-con:nth-child(26) .shape{
    background: #bbb;
    clip-path: polygon(71.5% 44.5%, 76% 41%, 74.5% 47%);
}
.elephant .shape-con:nth-child(27) .shape{
    background: #ccc;
    clip-path: polygon(76% 41%, 77% 47.5%, 72% 58%);
}
.elephant .shape-con:nth-child(28) .shape{
    background: #bbb;
    clip-path: polygon(75% 56%, 77% 47.5%, 72% 58%);
}
.elephant .shape-con:nth-child(29) .shape{
    background: #ccc;
    clip-path: polygon(75% 56%, 70% 63%, 72% 58%);
}
.elephant .shape-con:nth-child(30) .shape{
    background: #ddd;
    clip-path: polygon(75% 56%, 70% 63%, 71% 63.5%);
}
.elephant .shape-con:nth-child(31) .shape{
    background: #ccc;
    clip-path: polygon(65.5% 21.5%, 53% 17%, 52.5% 20.5%);
}
.elephant .shape-con:nth-child(32) .shape{
    background: #aaa;
    clip-path: polygon(65.5% 21.5%, 49% 28%, 52.5% 20.5%);
}
.elephant .shape-con:nth-child(33) .shape{
    background: #999;
    clip-path: polygon(65.5% 21.5%, 49% 28%, 52.5% 33.5%);
}
.elephant .shape-con:nth-child(34) .shape{
    background: #aaa;
    clip-path: polygon(65.5% 21.5%, 53% 37%, 52.5% 33.5%);
}
.elephant .shape-con:nth-child(35) .shape{
    background: #999;
    clip-path: polygon(65.5% 21.5%, 53% 37%, 58.5% 39.5%);
}
.elephant .shape-con:nth-child(36) .shape{
    background: #898989;
    clip-path: polygon(65.5% 21.5%, 63% 42%, 58.5% 39.5%);
}
.elephant .shape-con:nth-child(37) .shape{
    background: #333;
    clip-path: polygon(70.5% 31.5%, 71.5% 32.5%, 69% 32%);
}

.hummer .shape-con:nth-child(1) .shape{
    background: #CFE4E5;
    clip-path: polygon(50% 10%, 51.5% 25%, 57% 29%);
}
.hummer .shape-con:nth-child(2) .shape{
    background: #AFDFD9;
    clip-path: polygon(57% 40%, 51.5% 25%, 57% 29%);
}
.hummer .shape-con:nth-child(3) .shape{
    background: #5FBEA6;
    clip-path: polygon(57% 40%, 50% 40%, 48% 16%);
}
.hummer .shape-con:nth-child(4) .shape{
    background: #9EE4D4;
    clip-path: polygon(30% 12%, 47% 29%, 42% 30%);
}
.hummer .shape-con:nth-child(5) .shape{
    background: #D9EBED;
    clip-path: polygon(58% 41%, 47% 29%, 42% 30%);
}
.hummer .shape-con:nth-child(6) .shape{
    background: #59CBB4;
    clip-path: polygon(30% 22%, 43% 30%, 40% 32%);
}
.hummer .shape-con:nth-child(7) .shape{
    background: #81D0C2;
    clip-path: polygon(58% 41%, 43% 30%, 40% 32%);
}
.hummer .shape-con:nth-child(8) .shape{
    background: #59CBB4;
    clip-path: polygon(33% 32%, 45% 34%, 48% 38%);
}
.hummer .shape-con:nth-child(9) .shape{
    background: #81D0C2;
    clip-path: polygon(58% 41%, 45% 34%, 48% 38%);
}
.hummer .shape-con:nth-child(10) .shape{
    background: #81D0C2;
    clip-path: polygon(35% 38%, 48% 38%, 48% 41%);
}
.hummer .shape-con:nth-child(11) .shape{
    background: #81D0C2;
    clip-path: polygon(58% 41%, 48% 38%, 48% 41%);
}
.hummer .shape-con:nth-child(12) .shape{
    background: #81D0C2;
    clip-path: polygon(40% 46%, 48% 41%, 49% 44%);
}
.hummer .shape-con:nth-child(13) .shape{
    background: #D9EBED;
    clip-path: polygon(58% 41%, 48% 41%, 49% 44%);
}
.hummer .shape-con:nth-child(14) .shape{
    background: #81D0C2;
    clip-path: polygon(35% 70%, 49% 50%, 49% 44%);
}
.hummer .shape-con:nth-child(15) .shape{
    background: #D9EBED;
    clip-path: polygon(35% 70%, 49% 50%, 44% 61%);
}
.hummer .shape-con:nth-child(16) .shape{
    background: #81D0C2;
    clip-path: polygon(43% 75%, 49% 50%, 44% 61%);
}
.hummer .shape-con:nth-child(17) .shape{
    background: #D9EBED;
    clip-path: polygon(43% 75%, 49% 50%, 47.5% 64%);
}
.hummer .shape-con:nth-child(18) .shape{
    background: #81D0C2;
    clip-path: polygon(50% 75%, 49% 50%, 47.5% 64%);
}
.hummer .shape-con:nth-child(19) .shape{
    background: #D9EBED;
    clip-path: polygon(50% 75%, 49% 50%, 51% 62%);
}
.hummer .shape-con:nth-child(20) .shape{
    background: #81D0C2;
    clip-path: polygon(56% 70%, 49% 50%, 51% 62%);
}
.hummer .shape-con:nth-child(21) .shape{
    background: #D9EBED;
    clip-path: polygon(62% 46%, 49% 50%, 49% 44%);
}
.hummer .shape-con:nth-child(22) .shape{
    background: #81D0C2;
    clip-path: polygon(60% 46%, 60% 40%, 49% 44%);
}
.hummer .shape-con:nth-child(23) .shape{
    background: #C8EBE7;
    clip-path: polygon(60% 46%, 49% 50%, 57% 51.5%);
}
.hummer .shape-con:nth-child(24) .shape{
    background: #C8EBE7;
    clip-path: polygon(60% 46%, 60% 40%, 62% 40%);
}
.hummer .shape-con:nth-child(25) .shape{
    background: #81D0C2;
    clip-path: polygon(60% 46%, 64% 42%, 62% 40%);
}
.hummer .shape-con:nth-child(26) .shape{
    background: #C8EBE7;
    clip-path: polygon(60% 46%, 64% 42%, 64% 47%);
}
.hummer .shape-con:nth-child(27) .shape{
    background: #C46671;
    clip-path: polygon(63% 44.5%, 75% 55%, 62.5% 45.5%);
}
.hummer .shape-con:nth-child(28) .shape{
    background: #000;
    clip-path: polygon(62% 41.5%, 62.5% 43%, 61.5% 43%);
}

.bird .shape-con:nth-child(1) .shape{
    background: #ED7888;
    clip-path: polygon(20% 40%, 22% 37%, 24% 39%);
}
.bird .shape-con:nth-child(2) .shape{
    background: #B1C3DB;
    clip-path: polygon(22% 37%, 27% 34%, 35% 40%);
}
.bird .shape-con:nth-child(3) .shape{
    background: #7695AA;
    clip-path: polygon(22% 37%, 24% 39%, 35% 40%);
}
.bird .shape-con:nth-child(4) .shape{
    background: #90A5C0;
    clip-path: polygon(23.5% 39%, 28% 48%, 35% 40%);
}
.bird .shape-con:nth-child(5) .shape{
    background: #92A7C2;
    clip-path: polygon(40% 45.5%, 28% 48%, 35% 40%);
}
.bird .shape-con:nth-child(6) .shape{
    background: #92A7C2;
    clip-path: polygon(40% 45.5%, 28% 48%, 32% 50.5%);
}
.bird .shape-con:nth-child(7) .shape{
    background: #8094AD;
    clip-path: polygon(40% 45.5%, 40% 52%, 32% 50.5%);
}
.bird .shape-con:nth-child(8) .shape{
    background: #94AAC1;
    clip-path: polygon(40% 45.5%, 40% 52%, 45% 52.5%);
}
.bird .shape-con:nth-child(9) .shape{
    background: #9EB8D1;
    clip-path: polygon(46% 56.5%, 40% 52%, 45% 52.5%);
}
.bird .shape-con:nth-child(10) .shape{
    background: #728AA4;
    clip-path: polygon(46% 56.5%, 51% 55%, 45% 52.5%);
}
.bird .shape-con:nth-child(11) .shape{
    background: #9BB0CB;
    clip-path: polygon(35% 40%, 38% 32%, 45% 36%);
}
.bird .shape-con:nth-child(12) .shape{
    background: #91AAC0;
    clip-path: polygon(51% 20%, 38% 32%, 45% 36%);
}
.bird .shape-con:nth-child(14) .shape{
    background: #B5C6E2;
    clip-path: polygon(40% 45.5%, 40% 36%, 35% 40%);
}
.bird .shape-con:nth-child(15) .shape{
    background: #B5C6E2;
    clip-path: polygon(40% 45.5%, 40% 36%, 47% 43%);
}
.bird .shape-con:nth-child(16) .shape{
    background: #8DA2BD;
    clip-path: polygon(60% 38%, 40% 36%, 47% 43%);
}
.bird .shape-con:nth-child(17) .shape{
    background: #333;
    clip-path: polygon(26.5% 36%, 27% 36.5%, 26% 36.5%);
}

.goose .shape-con:nth-child(1) .shape{ 
    background: #D15C53;
    clip-path: polygon(45% 8%, 56% 11%, 45% 13%);
}
.goose .shape-con:nth-child(2) .shape{ 
    background: #D15C53;
    clip-path: polygon(45% 13%, 54% 16%, 45% 16.5%);
}
.goose .shape-con:nth-child(3) .shape{ 
    background: #B7C4CC;
    clip-path: polygon(45% 8%, 45% 16.5%, 47.5% 13%);
}
.goose .shape-con:nth-child(4) .shape{ 
    background: #E2EDF3;
    clip-path: polygon(45% 8%, 45% 16.5%, 39% 10%);
}
.goose .shape-con:nth-child(5) .shape{ 
    background: #A6B5BC;
    clip-path: polygon(28% 15.5%, 45% 16.5%, 39% 10%);
}
.goose .shape-con:nth-child(6) .shape{ 
    background: #D2D9E1;
    clip-path: polygon(28% 15.5%, 36% 16%, 27% 25%);
}
.goose .shape-con:nth-child(7) .shape{ 
    background: #BAC3CA;
    clip-path: polygon(27% 25%, 32% 20%, 34% 26%);
}
.goose .shape-con:nth-child(8) .shape{ 
    background: #C4CFD1;
    clip-path: polygon(27% 25%, 40% 35%, 34% 26%);
}
.goose .shape-con:nth-child(9) .shape{ 
    background: #A9B6BC;
    clip-path: polygon(27% 25%, 40% 35%, 32.5% 38%);
}
.goose .shape-con:nth-child(10) .shape{ 
    background: #D1DDDD;
    clip-path: polygon(36.5% 44%, 40% 35%, 32.5% 38%);
}
.goose .shape-con:nth-child(11) .shape{ 
    background: #A5AFB8;
    clip-path: polygon(36.5% 44%, 40% 35%, 52% 46%);
}
.goose .shape-con:nth-child(12) .shape{ 
    background: #C8D1D8;
    clip-path: polygon(36.5% 44%, 48.5% 55%, 52% 46%);
}
.goose .shape-con:nth-child(13) .shape{ 
    background: #CDD6DB;
    clip-path: polygon(51% 66%, 48.5% 55%, 52% 46%);
}
.goose .shape-con:nth-child(14) .shape{ 
    background: #A9ADAC;
    clip-path: polygon(51% 66%, 49% 66%, 50.5% 64%);
}
.goose .shape-con:nth-child(15) .shape{ 
    background: #D44C4C;
    clip-path: polygon(51% 66%, 45% 69%, 43% 66%);
}
.goose .shape-con:nth-child(16) .shape{ 
    background: #D44C4C;
    clip-path: polygon(39% 68%, 45% 69%, 43% 66%);
}
.goose .shape-con:nth-child(17) .shape{ 
    background: #BEC9CD;
    clip-path: polygon(50% 31%, 40% 35%, 52% 46%);
}
.goose .shape-con:nth-child(18) .shape{ 
    background: #D4DFE5;
    clip-path: polygon(50% 31%, 58% 42%, 52% 46%);
}
.goose .shape-con:nth-child(19) .shape{ 
    background: #A7B1BA;
    clip-path: polygon(50% 31%, 58% 42%, 61% 37%);
}
.goose .shape-con:nth-child(20) .shape{ 
    background: #CCD7DD;
    clip-path: polygon(50% 31%, 68% 37.5%, 61% 37%);
}
.goose .shape-con:nth-child(21) .shape{ 
    background: #E2ECED;
    clip-path: polygon(50% 31%, 68% 37.5%, 75% 32%);
}
.goose .shape-con:nth-child(22) .shape{ 
    background: #A0ABAF;
    clip-path: polygon(61% 37%, 66% 41.5%, 59.1% 39.5%);
}
.goose .shape-con:nth-child(23) .shape{ 
    background: #A0ABAF;
    clip-path: polygon(59.1% 39.5%, 63% 43%, 58% 42%);
}
.goose .shape-con:nth-child(24) .shape{ 
    background: #99A6AE;
    clip-path: polygon(52% 46%, 63% 43%, 58% 42%);
}
.goose .shape-con:nth-child(25) .shape{ 
    background: #B3BDBF;
    clip-path: polygon(52% 46%, 63% 43%, 51.5% 54%);
}
.goose .shape-con:nth-child(26) .shape{ 
    background: #333;
    clip-path: polygon(43.5% 10.5%, 44% 11.5%, 43% 11.5%);
}

.loading .shape-con:nth-child(1) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 50% 0%, 44% 1%); 
}
.loading .shape-con:nth-child(2) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 44% 1%, 38% 2.5%); 
}
.loading .shape-con:nth-child(3) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 38% 2.5%, 32% 4.5%); 
}
.loading .shape-con:nth-child(4) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 32% 4.5%, 25% 8%); 
}
.loading .shape-con:nth-child(5) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 25% 8%, 19% 12.5%); 
}
.loading .shape-con:nth-child(6) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 19% 12.5%, 13% 19%); 
}
.loading .shape-con:nth-child(7) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 13% 19%, 7% 29%); 
}
.loading .shape-con:nth-child(8) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 7% 29%, 4% 41%); 
}
.loading .shape-con:nth-child(9) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 4% 41%, 3.5% 50%); 
}
.loading .shape-con:nth-child(10) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 3.5% 50%, 4% 59%); 
}
.loading .shape-con:nth-child(11) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 4% 59%, 7% 69%); 
}
.loading .shape-con:nth-child(12) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 7% 69%, 13% 80%); 
}
.loading .shape-con:nth-child(13) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 13% 80%, 19% 86%); 
}
.loading .shape-con:nth-child(14) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 19% 86%, 25% 90%); 
}
.loading .shape-con:nth-child(15) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 25% 90%, 32% 93%); 
}
.loading .shape-con:nth-child(16) .shape{ 
    background: #3B0807;
    clip-path: polygon(50% 50%, 32% 93%, 38% 94.5%); 
}
.loading .shape-con:nth-child(17) .shape{ 
    background: #3F0706;
    clip-path: polygon(50% 50%, 38% 94.5%, 44% 96%); 
}
.loading .shape-con:nth-child(18) .shape{ 
    background: #3F0706;
    clip-path: polygon(50% 50%, 44% 96%, 50% 96.5%); 
}
.loading .shape-con:nth-child(19) .shape{ 
    background: #3F0706;
    clip-path: polygon(50% 50%, 50% 96.5%, 56% 95.5%); 
}
.loading .shape-con:nth-child(20) .shape{ 
    background: #3F0706;
    clip-path: polygon(50% 50%, 56% 95.5%, 62% 94%); 
}
.loading .shape-con:nth-child(21) .shape{ 
    background: #390706;
    clip-path: polygon(50% 50%, 62% 94%, 68% 90%); 
}
.loading .shape-con:nth-child(22) .shape{ 
    background: #390706;
    clip-path: polygon(50% 50%, 68% 90%, 78% 82%); 
}
.loading .shape-con:nth-child(23) .shape{ 
    background: #360606;
    clip-path: polygon(50% 50%, 78% 82%, 86% 70%); 
}
.loading .shape-con:nth-child(24) .shape{ 
    background: #310506;
    clip-path: polygon(50% 50%, 86% 70%, 90% 58%); 
}
.loading .shape-con:nth-child(25) .shape{ 
    background: #2F0506;
    clip-path: polygon(50% 50%, 90% 58%, 91.5% 50%); 
}
.loading .shape-con:nth-child(26) .shape{ 
    background: #220404;
    clip-path: polygon(50% 50%, 91.5% 50%, 90% 42%); 
}
.loading .shape-con:nth-child(27) .shape{ 
    background: #0F0100;
    clip-path: polygon(50% 50%, 90% 42%, 88% 38%); 
}
.loading .shape-con:nth-child(28) .shape{ 
    background: #0B0203;
    clip-path: polygon(50% 50%, 88% 38%, 84% 33%); 
}
.loading .shape-con:nth-child(29) .shape{ 
    background: #0C0203;
    clip-path: polygon(50% 50%, 84% 33%, 80% 29%); 
}
.loading .shape-con:nth-child(30) .shape{ 
    background: #050001;
    clip-path: polygon(50% 50%, 80% 29%, 75% 25%); 
}
.loading .shape-con:nth-child(31) .shape{ 
    background: #050001;
    clip-path: polygon(50% 50%, 75% 25%, 69% 21%); 
}
.loading .shape-con:nth-child(32) .shape{ 
    background: #000000;
    clip-path: polygon(50% 50%, 69% 21%, 62% 18.5%); 
}
.loading .shape-con:nth-child(33) .shape{ 
    background: #020204;
    clip-path: polygon(50% 50%, 62% 18.5%, 56% 17.5%); 
}
.loading .shape-con:nth-child(34) .shape{ 
    background: #010000;
    clip-path: polygon(50% 50%, 56% 17.5%, 50% 17%); 
}


/*每个模块动画延迟*/
.shape-con:nth-child(1) .shape{
    transition: all 0.3s ease-in-out;
}
.shape-con:nth-child(2) .shape{
    transition: all 0.3s ease-in-out 0.05s;
}
.shape-con:nth-child(3) .shape{
    transition: all 0.3s ease-in-out 0.1s;
}
.shape-con:nth-child(4) .shape{
    transition: all 0.3s ease-in-out 0.15s;
}
.shape-con:nth-child(5) .shape{
    transition: all 0.3s ease-in-out 0.2s;
}
.shape-con:nth-child(6) .shape{
    transition: all 0.3s ease-in-out 0.25s;
}
.shape-con:nth-child(7) .shape{
    transition: all 0.3s ease-in-out 0.3s;
}
.shape-con:nth-child(8) .shape{
    transition: all 0.3s ease-in-out 0.35s;
}
.shape-con:nth-child(9) .shape{
    transition: all 0.3s ease-in-out 0.4s;
}
.shape-con:nth-child(10) .shape{
    transition: all 0.3s ease-in-out 0.45s;
}
.shape-con:nth-child(11) .shape{
    transition: all 0.3s ease-in-out 0.5s;
}
.shape-con:nth-child(12) .shape{
    transition: all 0.3s ease-in-out 0.55s;
}
.shape-con:nth-child(13) .shape{
    transition: all 0.3s ease-in-out 0.6s;
}
.shape-con:nth-child(14) .shape{
    transition: all 0.3s ease-in-out 0.65s;
}
.shape-con:nth-child(15) .shape{
    transition: all 0.3s ease-in-out 0.68s;
}
.shape-con:nth-child(16) .shape{
    transition: all 0.3s ease-in-out 0.70s;
}
.shape-con:nth-child(17) .shape{
    transition: all 0.3s ease-in-out 0.73s;
}
.shape-con:nth-child(18) .shape{
    transition: all 0.3s ease-in-out 0.75s;
}
.shape-con:nth-child(19) .shape{
    transition: all 0.3s ease-in-out 0.78s;
}
.shape-con:nth-child(20) .shape{
    transition: all 0.3s ease-in-out 0.8s;
}
.shape-con:nth-child(21) .shape{
    transition: all 0.3s ease-in-out 0.82s;
}
.shape-con:nth-child(22) .shape{
    transition: all 0.3s ease-in-out 0.85s;
}
.shape-con:nth-child(23) .shape{
    transition: all 0.3s ease-in-out 0.88s;
}
.shape-con:nth-child(24) .shape{
    transition: all 0.3s ease-in-out 0.9s;
}
.shape-con:nth-child(25) .shape{
    transition: all 0.3s ease-in-out 0.91s;
}
.shape-con:nth-child(26) .shape{
    transition: all 0.3s ease-in-out 0.92s;
}
.shape-con:nth-child(27) .shape{
    transition: all 0.3s ease-in-out 0.93s;
}
.shape-con:nth-child(28) .shape{
    transition: all 0.3s ease-in-out 0.95s;
}
.shape-con:nth-child(29) .shape{
    transition: all 0.3s ease-in-out 0.98s;
}
.shape-con:nth-child(30) .shape{
    transition: all 0.3s ease-in-out 1s;
}
.shape-con:nth-child(31) .shape{
    transition: all 0.3s ease-in-out 1s;
}
.shape-con:nth-child(32) .shape{
    transition: all 0.3s ease-in-out 1s;
}
.shape-con:nth-child(33) .shape,.shape-con:nth-child(34) .shape,.shape-con:nth-child(35) .shape,.shape-con:nth-child(36) .shape,.shape-con:nth-child(37) .shape{
    transition: all 0.3s ease-in-out 1s;
}

.wrap .shape-con .shape,.words .shape-con .shape{
    transition: all 0.5s ease-in-out;
}
.wrap .shape-con .shape{
    background: #222;
}
.animals{
    transition: transform 1s linear 0.5s;
}
.wrap .animals{
    transform: rotate(180deg);
}

.words .shape-con .shape{
    background: #C40740;
}
.words .shape-con:nth-child(1) .shape{
    clip-path: polygon(30% 40%, 28% 55%, 28.5% 55%); 
}
.words .shape-con:nth-child(2) .shape{
    clip-path: polygon(30% 40%, 31.5% 55%, 32% 55%); 
}
.words .shape-con:nth-child(3) .shape{
    clip-path: polygon(28.5% 49.5%, 28.5% 50.5%, 31.5% 50%); 
}
.words .shape-con:nth-child(4) .shape{
    clip-path: polygon(33% 55%, 33.5% 55%, 34% 40%); 
}
.words .shape-con:nth-child(5) .shape{
    clip-path: polygon(34% 40%, 34.5% 40%, 35.5% 55%); 
}
.words .shape-con:nth-child(6) .shape{
    clip-path: polygon(36.5% 40%, 37% 40%, 35.5% 55%); 
}
.words .shape-con:nth-child(7) .shape{
    clip-path: polygon(38% 40%, 38% 40.5%, 39% 40.2%); 
}
.words .shape-con:nth-child(8) .shape{
    clip-path: polygon(38.5% 40%, 38.3% 54.5%, 38.8% 54.5%); 
}
.words .shape-con:nth-child(9) .shape{
    clip-path: polygon(38% 54.8%, 39% 54.5%, 39% 55%); 
}
.words .shape-con:nth-child(10) .shape{
    clip-path: polygon(40.5% 55%, 41% 55%, 41.5% 40%); 
}
.words .shape-con:nth-child(11) .shape{
    clip-path: polygon(41.5% 40%, 42% 40%, 43% 55%); 
}
.words .shape-con:nth-child(12) .shape{
    clip-path: polygon(44% 40%, 44.5% 40%, 43% 55%); 
}
.words .shape-con:nth-child(13) .shape{
    clip-path: polygon(45% 55%, 45.5% 55%, 44.5% 40%); 
}
.words .shape-con:nth-child(14) .shape{
    clip-path: polygon(48% 40%, 46% 55%, 46.5% 55%); 
}
.words .shape-con:nth-child(15) .shape{
    clip-path: polygon(48% 40%, 49.5% 55%, 50% 55%); 
}
.words .shape-con:nth-child(16) .shape{
    clip-path: polygon(46.5% 49.5%, 46.5% 50.5%, 49.5% 50%); 
}
.words .shape-con:nth-child(17) .shape{
    clip-path: polygon(52% 40%, 50.8% 55%, 51.3% 55%); 
}
.words .shape-con:nth-child(18) .shape{
    clip-path: polygon(51.3% 54.8%, 54.3% 55%, 54.3% 54%); 
}

.words .shape-con:nth-child(19) .shape{
    clip-path: polygon(55.5% 53%, 56.8% 55%, 57.3% 54%);
}
.words .shape-con:nth-child(20) .shape{
    clip-path: polygon(56.8% 55%, 58% 50%, 57.6% 50%);
}
.words .shape-con:nth-child(21) .shape{
    clip-path: polygon(58% 50%, 55.8% 47.5%, 56% 46.5%);
}
.words .shape-con:nth-child(22) .shape{
    clip-path: polygon(55.8% 48.5%, 56.7% 40.5%, 57% 41%);
}
.words .shape-con:nth-child(23) .shape{
    clip-path: polygon(57% 41%, 58.5% 40.8%, 58.5% 41.5%);
}
.words .shape-con:nth-child(24) .shape{
    clip-path: polygon(58.5% 40.8%, 58.8% 40.8%, 59% 43%);
}
.words .shape-con:nth-child(25) .shape{
    clip-path: polygon(20% 30%, 20% 32%, 60% 31%);
}
.words .shape-con:nth-child(26) .shape{
    clip-path: polygon(29% 65%, 70% 64%, 70% 66%);
}
@keyframes changeColor1{
    0%{background: #232326;}
    40%{background: #09090A;}
    90%{background: #232326;}
}
@keyframes changeColor2{
    0%{background: #09090A;}
    40%{background: #232326;}
    90%{background: #09090A;}
}
.wrap .shape-con:nth-child(odd) .shape{
    background: #232326;
}
.wrap .shape-con:nth-child(13) .shape, .wrap .shape-con:nth-child(5) .shape, .wrap .shape-con:nth-child(9) .shape, .wrap .shape-con:nth-child(17) .shape{
    animation: changeColor1 1.5s ease-in infinite;
}
.wrap .shape-con:nth-child(even) .shape{
    background: #09090A;
}
.wrap .shape-con:nth-child(4) .shape, .wrap .shape-con:nth-child(8) .shape, .wrap .shape-con:nth-child(14) .shape, .wrap .shape-con:nth-child(20) .shape{
    animation: changeColor2 1.5s ease-in infinite;
}


.next{
    position: absolute;
    right: 100px;
    top: 350px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 100%;
}
.next:before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url(../images/green-texture.png) repeat;
}
.next:hover:before{
    top:-4px;
    left: -4px;
    width: 68px;
    height: 68px;
}
.next:after{
    position: absolute;
    content: "";
    top:4px;
    left: 4px;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: #64D6E2;
}
.next-arrow{
    position: absolute;
    top: 26px;
    left: 17px;
    width: 18px;
    height: 6px;
    background: #fff;
    border-radius: 2px;
    transform: rotate(50deg);
    transform-origin: center center;
    z-index: 1;
}
.next-arrow:after{
    position: absolute;
    content: "";
    width: 18px;
    height: 6px;
    background: #fff;
    border-radius: 2px;
    transform-origin: center center;
    left: 6px;
    top: -6px;
    transform: rotate(-100deg);
}
.prev{
    position: absolute;
    right: 100px;
    top: 190px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.prev:before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url(../images/green-texture.png) repeat;
}
.prev:hover:before{
    top:-4px;
    left: -4px;
    width: 68px;
    height: 68px;
}
.prev-arrow{
    position: absolute;
    top: 26px;
    left: 26px;
    width: 18px;
    height: 6px;
    background: #fff;
    border-radius: 2px;
    transform: rotate(226deg);
    transform-origin: center center;
    z-index: 1;
}
.prev-arrow:after{
    position: absolute;
    content: "";
    width: 18px;
    height: 6px;
    background: #fff;
    border-radius: 2px;
    transform-origin: center center;
    left: 6px;
    top: -6px;
    transform: rotate(-100deg);
}
.prev:after{
    position: absolute;
    content: "";
    top:4px;
    left: 4px;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: #64D6E2;
}
.show{
    color: #fff;
    position: absolute;
    top: 75%;
    left: 60%;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: url(../images/red-texture.png) repeat;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}
.show:before{
    position: absolute;
    content: "Find it";
    top: 2px;
    left: 3px;
    background: #1A1A1D;
    width: 144px;
    height: 36px;
    border-radius: 12px;
    line-height: 36px;
}
.show:hover:before{
    top:4px;
    left: 6px;
    width: 138px;
    height: 32px;
    line-height: 32px;
}
.home{
    position: absolute;
    right: 90px;
    top: 260px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.home:before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: url(../images/green-texture.png) repeat;
}
.home:hover:before{
    top: -4px;
    left: -4px;
    width: 88px;
    height: 88px;
}
.home:after{
    position: absolute;
    content: "Home";
    top: 4px;
    left: 4px;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    border-radius: 100%;
    color: #fff;
}